Repository wolfram-laube/clarissa: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_paper, build_invoice, upload_invoice

Path conditions:
  build_paper: any of: conference/**/*
  build_invoice: any of: billing/templates/**/*, billing/output/**/*.typ
  upload_invoice: any of: billing/output/**/*.typ

test(billing): add test timesheet to trigger CI pipeline
  billing/output/2026-01_timesheet_nemensis_de.typ
Due: build_invoice, upload_invoice

docs(billing): add step-by-step workflow guide
  docs/guides/billing-workflow.md
Due: none

fix(ci): use broader Drive scope for upload_invoice
  .gitlab-ci.yml
Due: none

fix(ci): support Shared Drives in upload_invoice
  .gitlab-ci.yml
Due: none

test(billing): trigger pipeline with Shared Drive fix
  billing/output/2026-01_timesheet_nemensis_de.typ
Due: build_invoice, upload_invoice

fix(billing): fix CI YAML syntax and Shared Drive support
  .gitlab-ci.yml
  billing/scripts/upload_to_drive.py
Due: none

test(billing): trigger pipeline with fixed YAML + Shared Drive
  billing/output/2026-01_timesheet_nemensis_de.typ
Due: build_invoice, upload_invoice

billing: add January 2026 invoice for nemensis AG
  billing/output/AR_001_2026_nemensis.typ
Due: build_invoice, upload_invoice

fix(billing): fix Typst variable escaping in invoice template
  billing/output/AR_001_2026_nemensis.typ
Due: build_invoice, upload_invoice

feat(billing): add approver fields and update client config
  billing/config/clients.yaml
  billing/templates/timesheet.typ
Due: build_invoice

feat(billing): update test timesheet with approver fields
  billing/output/2026-01_timesheet_nemensis_de.typ
Due: build_invoice, upload_invoice

docs(billing): update workflow guide with clients.yaml and approver info
  docs/guides/billing-workflow.md
Due: none

perf(ci): only build Docker images when OPM files change
  .gitlab-ci.yml
Due: none

feat(billing): complete workflow with multi-consultant support
  billing/config/clients.yaml
  billing/scripts/generate_invoice.py
  billing/scripts/generate_timesheet.py
Due: none

fix(billing): correct gitlab username (wolfram.laube not wolfram_laube)
  billing/config/clients.yaml
Due: none

billing: Januar 2026 nemensis - 2 Timesheets + konsolidierte Rechnung
  billing/output/2026-01_timesheet_nemensis_ian_de.sync.json
  billing/output/2026-01_timesheet_nemensis_ian_de.typ
  billing/output/2026-01_timesheet_nemensis_wolfram_de.sync.json
  billing/output/2026-01_timesheet_nemensis_wolfram_de.typ
  billing/output/AR_002_2026_nemensis.typ
Due: build_invoice, upload_invoice

fix(ci): use --root for typst compile to allow template imports
  .gitlab-ci.yml
Due: none

chore(billing): trigger CI rebuild after --root fix
  billing/output/AR_002_2026_nemensis.typ
Due: build_invoice, upload_invoice

fix(billing): correct timesheet dates for demo
  billing/output/2026-01_timesheet_nemensis_ian_de.sync.json
  billing/output/2026-01_timesheet_nemensis_ian_de.typ
  billing/output/2026-01_timesheet_nemensis_wolfram_de.sync.json
  billing/output/2026-01_timesheet_nemensis_wolfram_de.typ
  billing/output/AR_003_2026_nemensis.typ
Due: build_invoice, upload_invoice

docs: add billing system handover document for LLM continuity
  docs/handover/BILLING_SYSTEM.md
Due: none

fix(billing): use GraphQL API for correct spent_at dates
  billing/scripts/generate_timesheet.py
Due: none

docs(billing): update handover doc after GraphQL fix
  docs/handover/BILLING_SYSTEM.md
Due: none

docs: add billing GraphQL fix to CHANGELOG
  CHANGELOG.md
Due: none

feat(billing): add automated timesheet generation CI job
  .gitlab-ci.yml
Due: none

docs: add billing automation to CHANGELOG
  CHANGELOG.md
Due: none

docs(billing): update handover with automation details
  docs/handover/BILLING_SYSTEM.md
Due: none

feat(nlp): add intent module with taxonomy loader
  src/clarissa/agent/intents/__init__.py
Due: none

feat(nlp): define intent taxonomy for reservoir engineering
  src/clarissa/agent/intents/taxonomy.json
Due: none

feat(nlp): add pipeline module structure
  src/clarissa/agent/pipeline/__init__.py
Due: none

feat(nlp): implement NLP pipeline stage Protocols
  src/clarissa/agent/pipeline/protocols.py
Due: none

docs: add NLP taxonomy and protocols to CHANGELOG
  CHANGELOG.md
Due: none

feat(nlp): implement Intent Recognition stage
  src/clarissa/agent/pipeline/intent.py
Due: none

test(nlp): add Intent Recognition test suite
  tests/unit/test_intent.py
Due: none

feat(nlp): implement Entity Extraction stage
  src/clarissa/agent/pipeline/entities.py
Due: none

test(nlp): add Entity Extraction test suite
  tests/unit/test_entities.py
Due: none

feat(nlp): update pipeline module exports
  src/clarissa/agent/pipeline/__init__.py
Due: none

docs: add Intent Recognition and Entity Extraction to CHANGELOG
  CHANGELOG.md
Due: none

feat(nlp): implement validation checkpoint framework
  src/clarissa/agent/pipeline/validation.py
Due: none

test(nlp): add validation checkpoint test suite
  tests/unit/test_validation.py
Due: none

feat(nlp): add validation exports to pipeline module
  src/clarissa/agent/pipeline/__init__.py
Due: none
